#!/usr/bin/make -f
export QUILT_PATCHES=debian/patches
export QUILT_REFRESH_ARGS="-p ab --no-timestamps --no-index"
export DH_VERBOSE = 1

include /usr/share/dpkg/architecture.mk

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
CONFARGS = --host=$(DEB_HOST_GNU_TYPE)
endif

LIB_DIR	 = usr/lib/$(DEB_HOST_MULTIARCH)

TARGET_PREFIX=/usr/lib/sandboxer
PACKAGE=$(shell dpkg-parsechangelog --show-field Source)
TARGET_INSTALL_PREFIX=debian/$(PACKAGE)$(TARGET_PREFIX)

%:
	dh $@

dhar-stamp:
	quilt push -a
	sed -i '/doc\//d' ./configure.ac
	sed -i '/po4a/d' ./preroll
	sed -i 's|doc||g' ./Makefile.am
	rm -rf ./doc
	dh_autoreconf
	touch $@

obj-sysv/config.status: dhar-stamp
	dh_testdir
	mkdir obj-sysv
	cd obj-sysv && CFLAGS="$(CFLAGS)" ../configure --prefix="/fixups/fakeroot-host" --bindir="/fixups/fakeroot-host" --libdir="/fixups/fakeroot-host" --mandir="/fixups/fakeroot-host/man" --with-ipc=sysv --with-pic --with-dbformat=path $(CONFARGS)

override_dh_auto_configure: obj-sysv/config.status

override_dh_auto_build:
	cd obj-sysv && $(MAKE)

override_dh_auto_install:
	cd obj-sysv && $(MAKE) DESTDIR="$(CURDIR)/$(TARGET_INSTALL_PREFIX)/bin" install
	find "$(CURDIR)/$(TARGET_INSTALL_PREFIX)/bin" -type f -name "*.a" -print -delete
	find "$(CURDIR)/$(TARGET_INSTALL_PREFIX)/bin" -type f -name "*.la" -print -delete

override_dh_auto_clean:
	rm -rf obj-sysv obj-tcp wrapdef.h wrapstruct.h
	dh_autoreconf_clean
	rm -f dhar-stamp
	quilt pop -a || true
	$(RM) debian/fakeroot.postinst
	$(RM) debian/libfakeroot.links
